@font-face {
    font-family: 'Amasis';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis Italic';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-italic-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-italic-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-italic-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis Bold';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bold-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bold-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bold-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis Bold Italic';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bolditalic-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bolditalic-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-bolditalic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis Black';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-black-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-black-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-black-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis Black Italic';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-blackitalic-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-blackitalic-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-blackitalic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis Light';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-light-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-light-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis Light Italic';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-lightitalic-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-lightitalic-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-lightitalic-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis Medium';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-medium-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-medium-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-medium-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Amasis Medium Italic';
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-mediumitalic-webfont.eot');
    src: url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-mediumitalic-webfont.woff') format('woff'),
         url('/sites/all/themes/Townhomes/fonts/amasis/amasismtstd-mediumitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}