//////////////
// Layout
//////////////

$grids: 6; // Mobile
$grids: add-grid(12 at $tablet); // Tablet & Desktop

$gutter: 10px;
$gutter: add-gutter(20px at $desktop); //  Desktop
$gutter-styles: 'fixed';