//////////////
// Layout
//////////////

$grids: 6; // Mobile
$grids: add-grid(12 at 768px); // Tablet & Desktop

$gutter: 10px;
$gutter: add-guttoer(20px at 960px); //  Desktop
$gutter-styles: 'fixed';