//////////////
// Page Elements
//////////////

%page {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

html {
	font-size: 62.5%;
	overflow:auto;
	@extend %page;
}

body {
	@include font-size (1.2);
	font-family: $proxima;
	overflow: hidden;
	@extend %page;
	background: #f8f8f8;
}

.container {
	margin: 2% auto;
	height: auto;
	height: 100%;
	width: 96%;
	@include breakpoint ($tablet) {
		width: 90%;
		margin: 0 auto;
	}
	@include breakpoint ($desktop) {
		width: $laptop;
		margin: 0 auto;	
	}
}

#container-bottom {
	border: 1px solid #ddd;
	@include border-radius (8px);
}