//////////////
// Region
//////////////

#header {
	background: transparent;
	height: 100px;
	#logo {
		padding-top: 5px;	
		float: left;
		transition: opacity 0.5s ease;
		&:hover {
			opacity:0.7;
		}
	}
}

main {

}

.flexslider {

}

.statement {
	background: #f2f2f2;
	.pane-content {
		padding: 100px 0;
		width: 70%;
		margin: 0 auto;
	}
	p {
		@include font-size (2.4);
		font-family: $amasis-medium;
		line-height: 1.3em;
		color: #333;
		margin: 0;
		text-align: center;
		@include breakpoint ($tablet) {
			@include font-size (3.2);
		}
		@include breakpoint ($desktop) {
			min-width: 580px;
			@include font-size (3.4);
		}
	}
}
h2.pane-title {
	@include font-size (2.4);
	font-family: $amasis-bold;
	color: #333;
	@include breakpoint ($tablet) {
		@include font-size (3.2);
	}
	@include breakpoint ($desktop) {
		@include font-size (4.0);
	}		
}

.features {
	padding: 100px 10%;
	@include font-size (2.0);
	text-align: center;
	.info {
		line-height: 2em;
		position: relative;
	}
	.price {
		color: #333;
		position: relative;
		padding: 30px 0px;
		line-height: 2.5em;
		@include font-size (1.6);
		.starting {
			font-family: 'Brush Script';
			font-style: italic;
			@include font-size (2.4);
		}
		.amount {
			font-family: $amasis-medium;
			@include font-size (4.5);
		}
	}
	.numbers {
		padding: 30px 0px;
		height: auto;
		.trips {
			float: none;
			width: 100%;
			clear: both;
			position: relative;
			@include breakpoint ($tablet) {
				float: left;
				width: 30%;
				clear: none;
				&:nth-child(2) {
					margin:0 2%;
				}
			}
			.unit {
				text-align: center;
			} 
			.dot {
				width: 140px;
				height: 140px;
				display: block;
				color: #ffffff;
				margin: 0 auto;
				position: relative;
				padding-top: 60px;
				@include border-radius (70px);
				@include font-size (5);
				font-family: $proxima;
			}
			.bedrooms {
				background: $sky;			
			}
			.bathrooms {
				background: $silver;
			}
			.bubble {
				background: $gold;
				.feet {
					@include font-size (2);
				}
			}
		}
	}
}

#footer {
	margin-top: 20px;
	background: #333;
	color: $white;
	#block-block-3 {
		padding: 20px;
		text-align: center;
	}
}